body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #1e1e2e;
}

.container {
	display: flex;
	justify-content: center; /* Centers items horizontally */
	align-items: center; /* Centers items vertically */
	text-align: center;
	height: 100%;
}

.content {
	text-align: center;
	padding: 10px;
	margin-inline: 20px;
	border: 1px solid #89b4fa;
	border-radius: 5px;
	background-color: #313244;
	height: 100%;
}

#map-container {
	margin-top: 10px;
	margin-inline: 75px;
}

#location {
	background-color: #89b4fa;
	border: 1px solid #89b4fa;
	border-radius: 5px;
	color: #313244;
	padding: 5px 10px;
}

#submit-btn {
	background-color: #a6e3a1;
	border: 1px solid #a6e3a1;
	border-radius: 5px;
	color: #313244;
	padding: 5px 16px;
	text-decoration: none;
	margin: 5px;
	cursor: pointer;
}

#humidity-gauge {
	margin-top: 25px;
	label,
	div {
		font-weight: bold;
		color: #89b4fa !important;
	}
	.scale {
		fill: #89b4fa !important;
	}
	.needle {
		stroke: #89b4fa !important;
	}
	.needle-knob {
		fill: #89b4fa !important;
	}
}

#thermometer {
	margin-top: 25px;
	font-weight: bold;
	.bmwtDe {
		color: #89b4fa !important;
	}
	label,
	.label {
		color: #89b4fa !important;
	}
}
